<h1>New Car</h1>

<%= form_for(@car) do |new_car| %>
  <div class="field">
    <%= new_car.label :make %>
    <%= new_car.text_field :make %>
  </div>

  <div class="field">
    <%= new_car.label :model %>
    <%= new_car.text_field :model %>
  </div>

  <div class="field">
    <%= new_car.label :price %>
    <%= new_car.text_field :price %>
  </div>

  <div class="field">
    <%= new_car.label :year %>
    <%= new_car.text_field :year %>
  </div>

  <div class="actions">
    <%= new_car.submit %>
  </div>
<% end %>

<%= link_to 'Back', cars_path %>
